.login {
  background-color: #ffede1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.login .overlap-wrapper {
  background-color: #ffede1;
  width: 1599px;
  height: 1080px;
}

.login .overlap {
  position: relative;
  height: 1080px;
}

.login .rectangle {
  position: absolute;
  width: 1165px;
  height: 1080px;
  top: 0;
  left: 0;
  background-color: #ffffff;
}

.login .mask-group {
  position: absolute;
  width: 1165px;
  height: 1080px;
  top: 0;
  left: 0;
}

.login .vector {
  position: absolute;
  width: 1599px;
  height: 1px;
  top: 1007px;
  left: 0;
}

.login .group {
  position: absolute;
  width: 578px;
  height: 741px;
  top: 270px;
  left: 1021px;
}

.login .div {
  position: absolute;
  width: 598px;
  height: 747px;
  top: 167px;
  left: 244px;
  background-color: #ffffff;
  border-radius: 20px;
  box-shadow: 0px 19px 40px #0000000d;
}

.login .text {
  position: absolute;
  width: 384px;
  height: 468px;
  top: 354px;
  left: 305px;
}

.login .text-wrapper {
  position: absolute;
  top: 0;
  left: 5px;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #00000080;
  font-size: 16px;
  letter-spacing: 0.48px;
  line-height: 22px;
  white-space: nowrap;
}

.login .text-wrapper-2 {
  position: absolute;
  top: 32px;
  left: 0;
  font-family: "Poppins-SemiBold", Helvetica;
  font-weight: 600;
  color: #000000;
  font-size: 56px;
  letter-spacing: 0;
  line-height: normal;
}

.login .i-don-t-have-an {
  position: absolute;
  top: 446px;
  left: 99px;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: transparent;
  font-size: 16px;
  letter-spacing: 0.48px;
  line-height: 22px;
  white-space: nowrap;
}

.login .span {
  color: #00000033;
  letter-spacing: 0.08px;
}

.login .text-wrapper-3 {
  color: #f47458;
  letter-spacing: 0.08px;
}

.login .logo {
  position: absolute;
  width: 453px;
  height: 54px;
  top: 270px;
  left: 293px;
}

.login .text-wrapper-4 {
  position: absolute;
  top: 0;
  left: 0;
  font-family: "Poppins-SemiBold", Helvetica;
  font-weight: 600;
  color: #f47458;
  font-size: 36px;
  letter-spacing: 0;
  line-height: normal;
}

.login .email {
  position: absolute;
  width: 478px;
  height: 77px;
  top: 500px;
  left: 304px;
}

.login .group-2 {
  position: relative;
  width: 482px;
  height: 77px;
}

.login .overlap-group {
  position: absolute;
  width: 478px;
  height: 46px;
  top: 31px;
  left: 0;
  background-color: #fff6f3;
  border-radius: 4px;
}

.login .text-wrapper-5 {
  position: absolute;
  top: 13px;
  left: 10px;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
}

.login .text-wrapper-6 {
  position: absolute;
  top: 0;
  left: 0;
  font-family: "Poppins-Light", Helvetica;
  font-weight: 300;
  color: #000000;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.login .password {
  position: absolute;
  width: 484px;
  height: 77px;
  top: 597px;
  left: 304px;
}

.login .div-wrapper {
  position: absolute;
  width: 478px;
  height: 46px;
  top: 31px;
  left: 0;
  background-color: #fff6f4;
  border-radius: 4px;
}

.login .text-wrapper-7 {
  position: absolute;
  height: 21px;
  top: 13px;
  left: 10px;
  font-family: "Poppins-Regular", Helvetica;
  font-weight: 400;
  color: #000000;
  font-size: 14px;
  letter-spacing: 0;
  line-height: normal;
}

.login .text-wrapper-8 {
  position: absolute;
  top: 3px;
  left: 352px;
  opacity: 0.5;
  font-family: "Poppins-Light", Helvetica;
  font-weight: 300;
  color: #000000;
  font-size: 14px;
  text-align: right;
  letter-spacing: 0;
  line-height: normal;
}

.login .button {
  all: unset;
  box-sizing: border-box;
  position: absolute;
  width: 150px;
  height: 46px;
  top: 714px;
  left: 468px;
  background-color: #f2af3f;
  border-radius: 23px;
}

.login .group-3 {
  position: relative;
  width: 101px;
  height: 150px;
  top: 11px;
  left: 22px;
}

.login .sing-in {
  position: absolute;
  top: 5px;
  left: 20px;
  font-family: "Poppins-SemiBold", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}

.login .ant-design-swap-left {
  position: absolute;
  width: 24px;
  height: 24px;
  top: 0;
  left: 75px;
}
.login .passwordsalah {
  position: absolute;
  top: 5px;
  left: 20px;
  font-family: "Poppins-SemiBold", Helvetica;
  font-weight: 600;
  color: #ffffff;
  font-size: 16px;
  letter-spacing: 0;
  line-height: normal;
}